
<%= form_for @collection, url: {action: "create" } do |f| %>

	<% if @collection.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@collection.errors.count, "error") %> prohibited this user from being saved:</h2>
			<ul>
				<% @collection.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
    <label for="title">Name:</label> <br/>
    <%= f.text_field :name %> <br/>  
	
	<h1>Movies in collection</h1>
	<%= grid(@movies_collection_grid, upper_pagination_panel: true, show_filters: :when_filtered) do |g|

		  g.blank_slate  do
		    content_tag :div, "Empty", class: 'well'
		  end
		  g.column name: "Title", attribute: 'title'  do |movie|
		    movie.title
		  end
		
		  g.column name: "Format", attribute: 'format' do |movie|
		    movie.format
		  end
		
		  g.column name: "Length", attribute: 'length' do |movie|
		    movie.format
		  end
		  
		  g.column name: "Release Year", attribute: 'release_year' do |movie|
		    movie.release_year
		  end
		  
		  g.column name: "Rating", attribute: 'rating' do |movie|
		    movie.rating
		  end
		  
		  g.column name: "" do |movie|
		    link_to 'Remove', { :controller => "collection", :action => "remove_movie", :collection_id => @collection_id, :movie_id => movie.id }, :method => :delete
		  end		  
	end -%>
	
	
	<h1>All movies in DB</h1>
	<%= grid(@movies_grid, upper_pagination_panel: true, show_filters: :when_filtered) do |g|

		  g.blank_slate  do
		    content_tag :div, "No more movies", class: 'well'
		  end
		  g.column name: "Title", attribute: 'title'  do |movie|
		    movie.title
		  end
		
		  g.column name: "Format", attribute: 'format' do |movie|
		    movie.format
		  end
		
		  g.column name: "Length", attribute: 'length' do |movie|
		    movie.format
		  end
		  
		  g.column name: "Release Year", attribute: 'release_year' do |movie|
		    movie.release_year
		  end
		  
		  g.column name: "Rating", attribute: 'rating' do |movie|
		    movie.rating
		  end
		  
		  g.column name: "" do |movie|
		    link_to 'Add to collection', { :controller => "collection", :action => "add_to_collection", :collection_id => @collection_id, :movie_id => movie.id }, :method => :post
		  end		  
	end -%>
	
    <%= f.submit "Ok", class: "btn btn-lg btn-primary"  %>
<% end %>
<br>
<%=link_to 'List', { :controller => "collection", :action => "list"}, :method => :get, class: "btn btn-lg btn-primary"%>