<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Format</strong>
  <%= @movie.format %>
</p>

<p>
  <strong>Length:</strong>
  <%= Time.at(60*@movie.length).utc.strftime("%H:%M:%S") %>
</p>

<p>
  <strong>Release Year</strong>
  <%=  @movie.release_year %>
</p>

<p>
  <strong>Rating</strong>
  <%= @movie.rating %>
</p>

<%= link_to 'List movie', "/movie/list", class: "btn btn-lg btn-primary" %>